/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
h3{
    color: red;
}
*{
    margin: 1px;
}
.active{
    background-color: orange;
    color: black;
}