<div class="main-container">
    <div class="about">
        <h3>ABOUT</h3>
        <p>Contact Us</p>
        <p>About Us</p>
        <p>Careers</p>
        <p>Corporate Information</p>
    </div>

    <div class="help">
        <h3>HELP</h3>
        <p>Payments</p>
        <p>Shipping</p>
        <p>Cancellation & Returns</p>
        <p>FAQ</p>
    </div>

    <div class="policy">
        <h3>CONSUMER POLICY</h3>
        <p>Terms Of Use</p>
        <p>Security</p>
        <p>Privacy</p>
        <p>Sitemap</p>
    </div>

    <div class="social" >
        <h3>SOCIAL</h3>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Youtube</p>    
        <p>Instagram</p>    
    </div>

    <div class="Mail" style="border-left: 1px solid #454d5e; padding-left: 90px;">
        <h3>Mail Us</h3>
        <p>Flipkart Internet Private Limited,</p>
        <p>Building Alyssa, Begonia &</p>
        <p>Clove Embassy Tech Village</p>
        <p>Bengluru, 560103</p>
    </div>

    <div class="register">
        <h3>Register Office Address</h3>
        <p>Flipkart Internet Private Limited,</p>
        <p>Clove Embassy Tech Village</p>
        <p>Bengluru, 560103</p>
        <p>Telephone: <span style="color: blue;">044-45614700</span> </p>
    </div>
</div>

<div class="bottom-footer">
    <div class="text">
        <p>Condition of use and & Sale  Privacy Notice Interest-Based Ads</p>
        <p style="margin-left: 39px;">© 1996-2024, Flipkart.com, Inc. or its affiliates</p>
    </div>
    <div class="img">
        <img src="assets/footer-bottom-img.svg" alt="">
    </div>
</div>