.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 250px;  
    color: grey;
}

.main-container p{
    display: block;
    margin-bottom: 1px;
    font-weight: 400;
    color: white;
}

.main-container .social{
    margin-right: 10px;
}

.bottom-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    border-top: 1px solid #454d5e;
}

.bottom-footer p{
    display: block;
    margin-bottom: 1px;
    font-weight: 400;
    color: white;
}