<h1>Angular Training</h1>

<!-- 1 Directives -->

<!-- *ngIf Directives -->
<div class="ngIf" *ngIf="rooms.availableRooms > 1">
    <h3>This is a example of *ngIf directives</h3>
    <p>If condition will be true then this paragraph will be show us</p>
</div><br>

<!-- *ngFor and ngclass Directives -->
<div class="ngfor">
    <h3>This is example of *ngFor directives</h3>
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/odd</th>
            <th>roomType</th>
            <th>status</th>
            <th>price</th>
            <th>checkinTime</th>
            <th>checkOutTime</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
        <tr [ngClass]="e ? 'even' : 'odd' " *ngFor="let room of roomsList; let e = even; let o = odd; let i = index">
            <td>{{i}}</td>
            <td>{{e ? 'Even' : 'odd'}}</td>
            <td>{{room.roomType }}</td>
            <td>{{room.status | titlecase}}</td>
            <td>{{room.price | currency : 'INR'}}</td>
            <td>{{room.checkinTime | date : 'short'}}</td>
            <td>{{room.checkOutTime | date : 'short'}}</td>
            <td>{{room.Rating | number : '1.1-1'}}</td>
            <td><button (click)="onDelete(i)">Delete</button></td>
        </tr>
    </table>
    <p>Data add using change detection</p>
    <button (click)="addData()">Add new data</button>
</div> <br>

<!-- *ngSwitch Directives -->
<div class="ngSwitch" [ngSwitch]="role">
    <h3>This is example of *ngSwitch</h3>
    <div *ngSwitchCase="'User'">
        This is a User
    </div>
    <div *ngSwitchCase="'Admin'">
        This is a Admin
    </div>
    <div *ngSwitchDefault>
        You can't access this page
    </div>
</div> <br>

<!-- Custom Directives -->
<div class="customDirective">
    <h3>Custom Directives</h3>
    <h4 appDirectives>This is a blue color text this color is changed because of custom directives</h4>
</div> <br>
<!-- Pipes -->
<div class="pipes">
    <h3>This is example of pipes</h3>
    <h4>{{lwrCasPip | lowercase }}</h4>
    <h4>{{uprCasPip | uppercase}}</h4>
    <h4>{{decimalPip | number }} Decimal pipe</h4>
    <h4>{{currncyPip | currency : 'INR'}} currency pipe</h4>
</div>

<div class="custom-pipe">
    <p>{{dummyString | demoPipe}}</p>
</div> <br>

<!-- Pass data from parent to child -->
<div class="data-pass">
    <h3>This is example of pass data from parent to child</h3>
    <app-training-cmp parent={{dataPass}}></app-training-cmp>
</div> <br> <br>

<!-- Life cycle hooks 01 ngOnchanges -->

<div class="onchanges">
    <h3>This is example of ngOnChanges</h3>
    <app-training-cmp data={{data}}></app-training-cmp>
    <button (click)="updateData()">Change data</button>
</div> <br> <br>


<!-- Event binding -->
<div class="binding">
    <h3>This is example of event binding</h3>
    <input type="text" [(ngModel)]="userName" (keyup.enter)="pressButton()" #username>
</div> <br>

<!-- Task 1-->
<h3>task</h3>
<div class="task1">
    <h1>Task 1</h1> <br>
    <input type="text" placeholder="title" [(ngModel)]="postTitle"> <br> <br>
    <textarea cols="30" rows="10" placeholder="details" [(ngModel)]="postDetails"></textarea> <br> <br>
    <input type="text" placeholder="Post Image URL" [(ngModel)]="imageURL"> <br> <br>
    <input type="text" placeholder="Post URL" [(ngModel)]="postURL"> <br> <br>
    <input type="checkbox" [(ngModel)]="addBackground">Add Background <br>
</div>
<div class="task1">
    <img [src]="imageURL" alt="" class="img">
    <h1><span [class.add-background]="addBackground">{{postTitle}}</span></h1>
    <p>{{postDetails}}</p>
    <a [href]="postURL" target="_blank" [style.display]="postURL ? 'block': 'none' ">More Details</a>
</div> <br>

<!-- Task 2 -->
<div class="task2">
    <h3>Task 2</h3>
    <input type="text" placeholder="Name" [(ngModel)]="name"> <br> <br>
    <input type="text" placeholder="Email" [(ngModel)]="userEmail"> <br> <br>
    <textarea cols="30" rows="10" placeholder="address" [(ngModel)]="userAddress"></textarea> <br> <br>
    <button (click)="onPushDetails()">Save Data into table</button><br> <br>
</div>

<div class="task2">
    <table [width]="500">
        <thead>
            <th>Sr.no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tr *ngFor="let user of userDetails; let index = index">
            <td>{{index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Address}}</td>
            <td><button (click)="Delete(index)">Delete</button></td>
        </tr>
    </table>
</div> <br> <br>

<!-- Angular Service -->
<div class="Api">
    <h3>How to call API</h3>
    <p>This data is coming from api/json server</p>
    <ul>
        <li *ngFor="let data of apiData">
            {{data.productId}}
            {{data.productname}}
            {{data.productprice}}
            {{data.productcategory}}
            {{data.productdescription}}
            {{data.producturl}}
        </li>
    </ul>
</div>

<!-- Add new data using post service -->
<div class="container mt-5">
    <div class="form-area">
        <form #userform="ngForm" (ngSubmit)="addNewUserDetails(userform.value)">
            <div class="mb-3">
                <label>Product ID</label>
                <input type="text" ngModel name="productId" placeholder="Enter productId" class="form-control">
            </div>
            <div class="mb-3">
                <label>Product Name</label>
                <input type="text" ngModel name="productname" placeholder="Enter productname" class="form-control">
            </div>
            <div class="mb-3">
                <label>Price</label>
                <input type="text" ngModel name="productprice" placeholder="Enter productprice" class="form-control">
            </div>
            <div class="mb-3">
                <label>Product Category</label>
                <input type="text" ngModel name="productcategory" placeholder="Enter productcategory"
                    class="form-control">
            </div>
            <div class="mb-3">
                <label>Product Description</label>
                <input type="text" ngModel name="productdescription" placeholder="Enter productdescription"
                    class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit New Data</button>
        </form>
    </div>
</div>

<!-- Api practice-->
<div class="Api">
    <h3>Practice of making API</h3>
    <ul>
        <li *ngFor="let demo of apiDemo">
            {{demo.name}}
            {{demo.email}}
        </li>
    </ul>
</div>

<form #userData="ngForm" (ngSubmit)="addDataApi(userData.value)">
    <input type="text" name="name" ngModel placeholder="Enter your Name">
    <br> <br>
    <input type="text" name="email" ngModel placeholder="Enter your Email">
    <br> <br>
    <button>Add new details</button>
</form> <br> <br>

<!-- Template Driven Forms -->
<div class="container mt-5">
    <h3>Template Driven Forms</h3>
    <div class="form-area">
        <form #templateform="ngForm" (submit)="onSubmit(templateform)">

            <div class="mb-3">
                <label>Name</label>
                <input type="text" placeholder="Enter First Name" class="form-control" name="firstName" ngModel
                    #Fname="ngModel" required pattern="[a-zA-Z]+$"
                    [ngClass]="{'is-invalid' : Fname.invalid && Fname.touched}" minlength="5">

                <div *ngIf="Fname.errors && Fname.errors['required']">
                    <div class="alert alert-danger" *ngIf="Fname.invalid && Fname.touched">
                        First Name is required and only alphabet
                    </div>
                </div>
                <div *ngIf="Fname.errors && Fname.errors['minlength']">
                    <div class="alert alert-danger" *ngIf="Fname.invalid && Fname.touched">
                        First Name must be 5 character
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label>Last Name</label>
                <input type="text" placeholder="Enter Last Name" class="form-control" name="lastName" ngModel
                    #Lname="ngModel" required [ngClass]="{'is-invalid' : Lname.invalid && Lname.touched}">
                <div class="alert alert-danger" *ngIf="Lname.invalid && Lname.touched">
                    Last Name is required
                </div>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="text" placeholder="Enter Email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                    class="form-control" name="email" ngModel #email="ngModel" required
                    [ngClass]="{'is-invalid' : email.invalid && email.touched}">
                <div *ngIf="email.errors && email.errors['required']">
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                        Email is required
                    </div>
                </div>
                <div *ngIf="email.errors && email.errors['pattern']">
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                        Invalid email address
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" placeholder="Enter Password" class="form-control" name="password" ngModel
                    #password="ngModel" required minlength="8"
                    [ngClass]="{'is-invalid' : password.invalid && password.touched}">
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                    Password is required and minimum 8 character
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="templateform.invalid">Submit</button>
        </form>
    </div>
</div>

<!-- Reactive from -->
<div class="container mt-5">
    <h3>Reactive form</h3>
    <div class="form-area">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="mb-3">
                <label>User Name</label>
                <input type="text" placeholder="Enter user Name" class="form-control" formControlName="user">
                <div class="alert alert-danger" *ngIf="getUser && getUser.invalid && getUser.touched">
                    User Name is required and minimum 5 character
                </div>
            </div>

            <div class="mb-3">
                <label>User Email</label>
                <input type="text" placeholder="Enter user Email" class="form-control" formControlName="email">
                <div class="alert alert-danger" *ngIf="getEmail && getEmail.invalid && getEmail.touched">
                    Email is required and im email format
                </div>
            </div>

            <div class="mb-3">
                <label>User Password</label>
                <input type="password" placeholder="Enter user Password" class="form-control"
                    formControlName="password">
                <div class="alert alert-danger" *ngIf="getPassword && getPassword.invalid && getPassword.touched">
                    password is required
                </div>
            </div>

            <button class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
        </form>
    </div>
</div>

<!-- Reactive form using form builder and custom validators-->
<div class="container mt-5">
    <h3>Reactive form using form builder and add custom validators</h3>
    <div class="form-area">
        <form [formGroup]="fbform">

            <div class="mb-3">
                <label>Student Name</label>
                <input type="text" placeholder="Enter Student Name" class="form-control" formControlName="studentName"
                [ngClass]="{'is-invalid' : fc.studentName.invalid && fc.studentName.touched}">

                <div *ngIf="fc.studentName.errors && fc.studentName.errors['required']">
                    <div class="alert alert-danger" *ngIf="fc.studentName.invalid && fc.studentName.touched">
                        student name is required and only alphabet
                    </div>
                </div>
                <div *ngIf="fc.studentName.errors && fc.studentName.errors['minlength']">
                    <div class="alert alert-danger" *ngIf="fc.studentName.invalid && fc.studentName.touched">
                        student name must be 5 character
                    </div>
                </div>
                <div *ngIf="fc.studentName.errors && fc.studentName.errors['noSpaceValidations']">
                    <div class="alert alert-danger" *ngIf="fc.studentName.invalid && fc.studentName.touched">
                        student name cannot containe space
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label>Student Email</label>
                <input type="text" placeholder="Enter Student Email" class="form-control"
                    formControlName="studentEmail" 
                     [ngClass]="{'is-invalid' : fc.studentEmail.invalid && fc.studentEmail.touched}">

                <div *ngIf="fc.studentEmail.errors && fc.studentEmail.errors['required']">
                    <div class="alert alert-danger" *ngIf="fc.studentEmail.invalid && fc.studentEmail.touched">
                        Email is required
                    </div>
                </div>
                <div *ngIf="fc.studentEmail.errors && fc.studentEmail.errors['email']">
                    <div class="alert alert-danger" *ngIf="fc.studentEmail.invalid && fc.studentEmail.touched">
                        Invalid email address
                    </div>
                </div>
                <div *ngIf="fc.studentEmail.errors && fc.studentEmail.errors['noSpaceValidations']">
                    <div class="alert alert-danger" *ngIf="fc.studentEmail.invalid && fc.studentEmail.touched">
                       email cannot containe space
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" placeholder="Enter user Password" class="form-control"
                    formControlName="password" [ngClass]="{'is-invalid' : fc.password.invalid && fc.password.touched}">
                <div *ngIf="fc.password.errors && fc.password.errors['required']">
                    <div class="alert alert-danger" *ngIf="fc.password.invalid && fc.password.touched">
                        Password is required
                    </div>
                </div>
                <div *ngIf="fc.password.errors && fc.password.errors['minlength']">
                    <div class="alert alert-danger" *ngIf="fc.password.invalid && fc.password.touched">
                        Password must be atleast 8 character
                    </div>
                </div>
                <div *ngIf="fc.password.errors && fc.password.errors['noSpaceValidations']">
                    <div class="alert alert-danger" *ngIf="fc.password.invalid && fc.password.touched">
                       password cannot containe space
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="fbform.invalid">Submit</button>
        </form>
    </div>
</div>

<!-- Routing and Navgation -->
<div>
    <h3>Routing and Navigation</h3>
    <button  routerLink="/home" routerLinkActive="active">Home</button>
    <button  routerLink="/user" routerLinkActive="active">User</button>
    <button  routerLink="/train-cmp" routerLinkActive="active">Training</button>
    <button  routerLink="/" routerLinkActive="active">front page</button>
</div>
<router-outlet></router-outlet>
