<h1>Angular Training</h1>

<!-- 1 -  Built-in Directives -->

<!-- *ngIf Directives -->
<div class="ngIf" *ngIf="rooms.availableRooms > 1">
    <h3>This is a example of *ngIf directives</h3>
    <p>If condition will be true then this paragraph will be show us</p>
</div><br>

<!-- *ngFor and ngclass Directives -->
<div class="ngfor">
    <h3>This is example of *ngFor directives</h3>
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/odd</th>
            <th>roomType</th>
            <th>status</th>
            <th>price</th>
            <th>checkinTime</th>
            <th>checkOutTime</th>
            <th>Rating</th>
        </tr>
        <tr [ngClass]="e ? 'even' : 'odd' " *ngFor="let room of roomsList; let e = even; let o = odd; let i = index">
            <td>{{i}}</td>
            <td>{{e ? 'Even' : 'odd'}}</td>
            <td>{{room.roomType }}</td>
            <td>{{room.status | titlecase}}</td>
            <td>{{room.price | currency : 'INR'}}</td>
            <td>{{room.checkinTime | date : 'short'}}</td>
            <td>{{room.checkOutTime | date : 'short'}}</td>
            <td>{{room.Rating | number : '1.1-1'}}</td>
        </tr>
    </table>
</div> <br>

<!-- *ngSwitch Directives -->
<div class="ngSwitch" [ngSwitch]="role">
    <h3>This is example of *ngSwitch</h3>
    <div *ngSwitchCase="'User'">
        This is a User
    </div>
    <div *ngSwitchCase="'Admin'">
        This is a Admin
    </div>
    <div *ngSwitchDefault>
        You can't access this page
    </div>
</div> <br>

<!-- Pipes -->
<div class="pipes">
    <h3>This is example of pipes</h3>
    <h4>{{lwrCasPip | lowercase }}</h4>
    <h4>{{uprCasPip | uppercase}}</h4>
    <h4>{{decimalPip | number }} Decimal pipe</h4>
    <h4>{{currncyPip | currency : 'INR'}} currency pipe</h4>
</div>