<div class='container-fluid'>    
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/46b1b0815a51237c.jpg?q=20">   
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/909a32737b6d03e0.jpg?q=20">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/81f9487f575b2e39.jpeg?q=20">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/a2f0763050560219.jpeg?q=20">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/eb64347ca9e81b7e.jpg?q=20">  
            </ng-template>  
        </ngb-carousel>  
    </div>  
</div> 