<h1>signals works</h1>

<h3>{{count()}}</h3>
<h3>{{property}}</h3>

<!-- <button (click)="count.set(200)">Increase Signal</button>
<button (click)="property=100">Increase Property</button> -->

<button (click)="updateValue()">Update Signal</button>
<button (click)="updateProperty()">Update Property</button>

<button (click)="changeValue('inc')">Inc</button>
<button (click)="changeValue('dec')">Dec</button>

<!-- <button (click)="count.set(count()+1)">Increment</button>
<button (click)="count.set(count()-1)">Decrement</button> -->

<hr>

