<div class="forOf">
    <h2>Observable</h2>
    <button (click)="getDataForObservable()">Click</button>
</div>

<div>
    <h2>Observable and RxJS practice</h2>
    <button (click)="getData()">Click</button>
</div>

<div class="forOf">
    <h2>of operator</h2>
    <h3>{{data}}</h3>
    <button (click)="ofOperatorData()">Click</button>
</div>

<div class="forOf">
    <h2>from operator</h2>
    <button (click)="getFormData()">Click</button>
</div>

<div class="fromEvent">
    <h2>fromEvent operator</h2>
    <button #creatbtn>Click</button>
    <div class="fromEvent" id="getItem">
    </div>
</div>