<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a style="color: white; margin-left: 45%;">View product details</a>
        <button routerLink="/" class="btn btn-warning">Back</button>
    </div>
</nav>

<kendo-grid [kendoGridBinding]="products" [pageable]="true" [pageSize]="5">
    <kendo-grid-column field="producturl" title="Image">
        <ng-template kendoGridCellTemplate let-dataItem>
            <ngx-img-zoom [zoomImageSrc]="dataItem.producturl" [previewImageSrc]="dataItem.producturl"
                [imgStyle]="'width:60px; height:60px;'"
                [resultStyle]="'width:350px; height:200px; position:absolute; left:62px; bottom:0px'"
                [containerStyle]="">
            </ngx-img-zoom>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" title="ID"></kendo-grid-column>
    <kendo-grid-column field="productname" title="ProductName"></kendo-grid-column>
    <kendo-grid-column field="productprice" title="ProductPrice"></kendo-grid-column>
    <kendo-grid-column field="productcategory" title="ProductCategory"></kendo-grid-column>
    <kendo-grid-column field="productdescription" title="ProductDescription"></kendo-grid-column>
    <button>Delete</button>
</kendo-grid>
<button>Delete</button>
