<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg"
                    alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg"
                    alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg"
                    alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg"
                    alt="">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 class="item-title">{{item.title}}</h5>
                <p class="item-description">{{item.description}}</p>
                <p><strong>Price:</strong>{{item.price | currency}}</p>
                <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>