<!-- This is for our products menu  -->
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="assets/all-products-img.jpg" alt="">
                <h6>All products</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('fashion')">
                <img src="assets/fashion-img.avif" alt="">
                <h6>Fashion</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('electronics')">
                <img src="assets/electronics-img.jpeg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('jewellery')">
                <img src="assets/jewellery-img.jpeg" alt="">
                <h6>Jewellery</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('appliances')">
                <img src="assets/appliances-img.webp" alt="">
                <h6>Appliances</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('grocery')">
                <img src="assets/grocery-img.jpg" alt="">
                <h6>Grocery</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('beauty')">
                <img src="assets/beauty-img.png" alt="">
                <h6>Beauty</h6>
            </a>
        </div>

        <div class="item">
            <a (click)="filter('kitchen')">
                <img src="assets/kitchen-img.jpg" alt="">
                <h6>Home & Kitchen</h6>
            </a>
        </div>
    </div>
</div>

<app-carousel></app-carousel>

<!-- card discout div  -->
<div class="container">
    <img style="width: 100%; cursor: pointer;" src="https://rukminim2.flixcart.com/fk-p-flap/1600/140/image/d56a3ed6d200038a.jpg?q=20"
        routerLink="/discout-card" alt="Image">
</div>


<!-- This data is coming from json server -->
<div class="container">
    <div class="row">
        <ng-container
            *ngFor="let item of filterCategory | filter:searchKey:'title' | paginate: { itemsPerPage: 9, currentPage: page }">
            <div class="card col-md-3">
                <img style="width: 240px; height: 200px;" src="{{item.image}}" alt="">
                <h5 class="item-title" style="font-weight: 600;">{{item.title}}</h5>
                <p class="item-description">{{item.description}}</p>
                <p><strong>Price: </strong>{{item.price | currency : "INR"}}</p>
                <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>
<pagination-controls (pageChange)="page = $event" class="float-right"></pagination-controls>

<app-footer></app-footer>