*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687 ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413b;
    background-color: #fff;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffffc7 ;
    border-radius: 1rem;
    border: none;
    color: #b0413b;
}

.msg-container{
    height: 10vmin;
    margin-bottom: 8px;
}

#newBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffffc7 ;
    border-radius: 1rem;
    border: none;
    color: #b0413b;
}

.msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.hide{
    display: none;
}
