<form [formGroup]="dynamicForm">
    <div *ngFor="let control of formControls">
        <div *ngFor="let controlKey of control | keyvalue">
          <label>{{ controlKey.key }}</label>
          <input [formControl]="controlKey.value" />
        </div>
      </div>
    <button type="button" (click)="deleteAll()">Delete All</button>
    <button type="button" (click)="saveAll()">Save All</button>
    <button type="button" (click)="addToColumnList()">Add to List</button>
    <button type="button" (click)="addSingleColumn()">Add to demo</button>
</form>