<h1>Hello World</h1>
<h2>{{name}}</h2>
<h2>{{demo}}</h2>

<button (click)="HandleClicked()">Click me</button> <hr>

<app-training-define-datatype></app-training-define-datatype>
<app-counter-app></app-counter-app>
<app-event-training></app-event-training>
<app-get-input></app-get-input>
<app-condition-training></app-condition-training>
<app-else-if-condition></app-else-if-condition>
<app-switch-condition></app-switch-condition>
<app-for-loop></app-for-loop>
<app-signals></app-signals>
<app-signal-type></app-signal-type>
<app-computed-signal></app-computed-signal>
<app-effect-signal></app-effect-signal>
<app-loop-contextual-variables></app-loop-contextual-variables>
