<!-- <form [formGroup]="dynamicForm">
  <h2>Cart Data</h2>
    <div formArrayName="rows">
      <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" class="row">
        <div class="column">
          <input formControlName="code" placeholder="Enter Code" />
          <button type="button" (click)="fetchProductData(i)">Fetch Data</button>
        </div>
        <div class="column" *ngIf="row.get('product')">
          <img [src]="" alt="Product Image" />
        </div>
        <div class="column">
          <input formControlName="priceCarton" placeholder="Price (Carton)" />
          <input formControlName="priceSingle" placeholder="Price (Single)" />
        </div>
        <div class="column">
          <input formControlName="quantityCarton" placeholder="Quantity (Carton)" />
          <input formControlName="quantitySingle" placeholder="Quantity (Single)" />
          <input formControlName="totalAmount" placeholder="Total Amount" />
          <button type="button" (click)="removeRow(i)" style="margin-bottom: 20px;">Remove</button> 
        </div>
      </div>
    </div>
    <button type="button" (click)="deleteAll()">Delete All</button>
    <button type="button" (click)="saveAll()">Save All</button>
    <button type="button" (click)="addToCartList()">Add to Cart List</button>
    <button type="button" (click)="addColumn()">Add Column</button>
  </form> <br> <br>


   -->

   <form [formGroup]="dynamicForm">
    <table>
      <!-- <thead> -->
      <tr>
        <th>{{ 'quickOrderPage.productCode'  }}</th>
        <th>{{ 'quickOrderPage.price'  }}</th>
        <th>{{ 'quickOrderPage.orderQty' }}</th>
        <th>{{ 'quickOrderPage.totalCost'  }}</th>
      </tr>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>
            <!-- <div> -->
            <input
              formControlName="code"
              placeholder="{{ 'quickOrderPage.enterGTIN' }}"
              (keyup)="fetchProductData(i)"
            />
          </td>
          <td>
            <!-- <div *ngIf="row.get('product')"> -->
            <!-- <img [src]="row.get('product').image" alt="Product Image" />
                
            <p>{{ row.get('product').description }}</p> -->
            <!-- <img [src]="{{image}}" alt="Product Image" /> -->

            <small>item code:</small>
            <!-- </div> -->
          </td>
          <div>
            <td>
              <div>
                <!-- <input formControlName="priceCarton" placeholder="Price (Carton)" />
                <input formControlName="priceSingle" placeholder="Price (Single)" /> -->
                <h4 class="text">$156.02</h4>
                <span>LUC:$14.32</span>
                <p>Allowance:$14.32</p>
                <h2>$147.09</h2>
                <small>carton of 6</small>
                <p>promo End 30/09/23</p>
              </div>
            </td>
            <td>
              <!-- <div> -->
              <label for="ctn">CTN QTY</label>
              <input formControlName="quantityCarton" placeholder="Quantity (Carton)" />
              <label for="ctn">UNIT QTY</label>
              <input formControlName="quantitySingle" placeholder="Quantity (Single)" />
              <!-- </div> -->
            </td>
            <td>
              <!-- <input formControlName="totalAmount" placeholder="Total Amount" /> -->
              <h1>$1.042.97</h1>
              <h3>(+GST $3.61)</h3>
              <button type="button" (click)="removeRow(i)">Remove</button>
            </td>
          </div>
        </tr>
        <!-- </tr> -->
        <!-- </div> -->
      </tbody>
    </table>
    <button type="button" (click)="deleteAll()">Delete All</button>
    <button type="button" (click)="saveAll()">Save All</button>
    <button type="button" (click)="addToCartList()">Add to Cart List</button>
    <button type="button" (click)="addColumn()">Add Column</button>
  </form>
